<header>
  <img
    src="../../../../../assets/img/Markin.jpg"
    alt="Marcos Venicio - Foto Perfil"
    width="300px"
    height="300px"
    loading="eager"
  />

  <h1>Marcos Venicio</h1>
</header>

<aside>
  <div class="conteiner">
    <p>C# | Angular | TypeScript | Java | Spring Boot</p>
    <p>Fortaleza - CE, Brasil</p>
    <p>
      Possuo 3 anos na área da tecnologia, com conhecimentos na área de Qualidade e Desenvolvimento de software.
    </p>

    <nav>
      <ul>
        <li>
          <a href="../../../../../assets/pdf/Curriculo Marcos Venicio.pdf" target="_blank" class="btn btn-primary"> Download Currículo</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/marcos-venicio-13bb64207/" target="_blank" class="btn btn-secondary">LinkedIn</a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img 
        src="../../../../../assets/icons/whatsapp.svg"
        alt="Ícone de contato do Whatsapp"
        width="22px"
        height="24px"
        />

        <figcaption>
        <a href="https://api.whatsapp.com/send?phone=5585987516774&text=Ol%C3%A1%20Marcos,%20Tudo%20bem?" target="_blank"></a>
        <strong>Envie uma mensagem para: </strong>
        <p>Whatsapp (85) 9 8751-6774</p>
        </figcaption>
      </figure>

      <figure>
        <img 
        src="../../../../../assets/icons/mail.svg"
        alt="Ícone de contato do Whatsapp"
        width="22px"
        height="24px"
        />

        <figcaption>
        <a href="mailto:marcos.venicio1239@hotmail.com" target="_blank"></a>
        <strong>Envie um e-mail para: </strong>
        <p>marcos.venicio1239&#64;hotmail.com</p>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
